@import '~theme/helpers';

.notification-menu {
  position: relative;
}

.notifications-dropdown.mdl-list {
  width: 310px;

  .mdl-list__item {
    @include typo-dropdown-menu-li;

    &:first-child {
      color: $dropdown-menu-header-font-color;
    }

    .mdl-list__item-avatar {
      padding: ($list-avatar-size - $list-icon-size);
      text-align: center;

      .material-icons {
        vertical-align: top;
      }
    }

    &:last-child {
      padding-top: $list-min-padding/2;
      padding-bottom: 0;
    }
  }
}
