<!--Toggles-->
<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Toggles</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">RADIO BUTTON</span>
        </li>
        <li class="mdl-list__item">
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect radio--colored-green" for="option-1">
            <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1">
            <span class="mdl-radio__label">Apple</span>
          </label>
        </li>
        <li class="mdl-list__item">
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect radio--colored-orange" for="option-2">
            <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2" checked>
            <span class="mdl-radio__label">Orange</span>
          </label>
        </li>
        <li class="mdl-list__item">
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect radio--colored-purple" for="option-3">
            <input type="radio" id="option-3" class="mdl-radio__button" name="options" value="3">
            <span class="mdl-radio__label">Grapes</span>
          </label>
        </li>
        <li class="mdl-list__item">
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect radio--colored-red" for="option-4">
            <input type="radio" id="option-4" class="mdl-radio__button" name="options" value="4">
            <span class="mdl-radio__label">Cherry</span>
          </label>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">CHECKBOXES</span>
        </li>
        <li class="mdl-list__item">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect checkbox--colored-green" for="checkbox-1">
            <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label">Apple</span>
          </label>
        </li>
        <li class="mdl-list__item">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect checkbox--colored-orange" for="checkbox-2">
            <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label">Orange</span>
          </label>
        </li>
        <li class="mdl-list__item">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect checkbox--colored-purple" for="checkbox-3">
            <input type="checkbox" id="checkbox-3" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label">Grapes</span>
          </label>
        </li>
        <li class="mdl-list__item">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect checkbox--colored-red" for="checkbox-4">
            <input type="checkbox" id="checkbox-4" class="mdl-checkbox__input" checked>
            <span class="mdl-checkbox__label">Cherry</span>
          </label>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">SWITCHES</span>
        </li>
        <li class="mdl-list__item">
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect switch--colored-green" for="switch-1">
            <input type="checkbox" id="switch-1" class="mdl-switch__input" checked>
            <span class="mdl-switch__label">Apple</span>
          </label>
        </li>
        <li class="mdl-list__item">
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect switch--colored-orange" for="switch-2">
            <input type="checkbox" id="switch-2" class="mdl-switch__input">
            <span class="mdl-switch__label">Orange</span>
          </label>
        </li>
        <li class="mdl-list__item">
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect switch--colored-purple" for="switch-3">
            <input type="checkbox" id="switch-3" class="mdl-switch__input" checked>
            <span class="mdl-switch__label">Grapes</span>
          </label>
        </li>
        <li class="mdl-list__item">
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect switch--colored-red" for="switch-4">
            <input type="checkbox" id="switch-4" class="mdl-switch__input">
            <span class="mdl-switch__label">Cherry</span>
          </label>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">ICON TOGGLE</span>
        </li>
        <li class="mdl-list__item">
          <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect icon-toggle--colored-red" for="icon-toggle-1">
            <input type="checkbox" id="icon-toggle-1" class="mdl-icon-toggle__input" checked>
            <i class="mdl-icon-toggle__label material-icons">format_bold</i>
          </label>
          <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect icon-toggle--colored-orange" for="icon-toggle-2">
            <input type="checkbox" id="icon-toggle-2" class="mdl-icon-toggle__input" checked>
            <i class="mdl-icon-toggle__label material-icons">format_italic</i>
          </label>
          <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect icon-toggle--colored-green" for="icon-toggle-3">
            <input type="checkbox" id="icon-toggle-3" class="mdl-icon-toggle__input">
            <i class="mdl-icon-toggle__label material-icons">format_underlined</i>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--Progress bar-->
<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Progress bar</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">DEFAULT</span>
        </li>
        <li class="mdl-list__item">
          <div id="p1" class="mdl-progress mdl-js-progress progress--colored-red"></div>
          <script>
            document.querySelector('#p1').addEventListener('mdl-componentupgraded', function() {
              this.MaterialProgress.setProgress(44);
            });
          </script>
        </li>
        <li class="mdl-list__item">
          <div id="p2" class="mdl-progress mdl-js-progress progress--colored-orange"></div>
          <script>
            document.querySelector('#p2').addEventListener('mdl-componentupgraded', function() {
              this.MaterialProgress.setProgress(44);
            });
          </script>
        </li>
        <li class="mdl-list__item">
          <div id="p3" class="mdl-progress mdl-js-progress progress--colored-light-blue"></div>
          <script>
            document.querySelector('#p3').addEventListener('mdl-componentupgraded', function() {
              this.MaterialProgress.setProgress(86);
            });
          </script>
        </li>
        <li class="mdl-list__item">
          <div id="p4" class="mdl-progress mdl-js-progress progress--colored-purple"></div>
          <script>
            document.querySelector('#p4').addEventListener('mdl-componentupgraded', function() {
              this.MaterialProgress.setProgress(66);
            });
          </script>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">INDETERMINATE</span>
        </li>
        <li class="mdl-list__item">
          <div id="p5" class="mdl-progress mdl-js-progress mdl-progress__indeterminate progress--colored-red"></div>
        </li>
        <li class="mdl-list__item">
          <div id="p6" class="mdl-progress mdl-js-progress mdl-progress__indeterminate progress--colored-orange"></div>
        </li>
        <li class="mdl-list__item">
          <div id="p7" class="mdl-progress mdl-js-progress mdl-progress__indeterminate progress--colored-light-blue"></div>
        </li>
        <li class="mdl-list__item">
          <div id="p8" class="mdl-progress mdl-js-progress mdl-progress__indeterminate progress--colored-purple"></div>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">BUFFERING</span>
        </li>
        <li class="mdl-list__item">
          <div id="p9" class="mdl-progress mdl-js-progress progress--colored-red"></div>
          <script>
            document.querySelector('#p9').addEventListener('mdl-componentupgraded', function() {
              this.MaterialProgress.setProgress(33);
              this.MaterialProgress.setBuffer(87);
            });
          </script>
        </li>
        <li class="mdl-list__item">
          <div id="p10" class="mdl-progress mdl-js-progress progress--colored-orange"></div>
          <script>
            document.querySelector('#p10').addEventListener('mdl-componentupgraded', function() {
              this.MaterialProgress.setProgress(60);
              this.MaterialProgress.setBuffer(60);
            });
          </script>
        </li>
        <li class="mdl-list__item">
          <div id="pp1" class="mdl-progress mdl-js-progress progress--colored-light-blue"></div>
          <script>
            document.querySelector('#pp1').addEventListener('mdl-componentupgraded', function() {
              this.MaterialProgress.setProgress(50);
              this.MaterialProgress.setBuffer(60);
            });
          </script>
        </li>
        <li class="mdl-list__item">
          <div id="pp2" class="mdl-progress mdl-js-progress progress--colored-purple"></div>
          <script>
            document.querySelector('#pp2').addEventListener('mdl-componentupgraded', function() {
              this.MaterialProgress.setProgress(13);
              this.MaterialProgress.setBuffer(77);
            });
          </script>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--Chips-->
<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Chips</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">BASIC CHIP</span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-chip">
            <span class="mdl-chip__text">Basic Chip</span>
          </span>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">DELETABLE CHIP</span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-chip mdl-chip--deletable">
            <span class="mdl-chip__text">Deletable Chip</span>
            <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
          </span>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">BUTTON CHIP</span>
        </li>
        <li class="mdl-list__item">
          <button type="button" class="mdl-chip color--teal mdl-color-text--white">
            <span class="mdl-chip__text">Button Chip</span>
          </button>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">CONTACT CHIP</span>
        </li>
        <li class="mdl-list__item">
           <span class="mdl-chip mdl-chip--contact">
             <span class="mdl-chip__contact color--orange">A</span>
             <span class="mdl-chip__text">Contact Chip</span>
           </span>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">DELETABLE CONTACT CHIP</span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-chip mdl-chip--contact mdl-chip--deletable">
            <img class="mdl-chip__contact" src="/assets/images/Icon_header.png">
            <span class="mdl-chip__text">Luke Skywalker</span>
            <a href="#" class="mdl-chip__action"><i class="material-icons">cancel</i></a>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--Sliders-->
<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Sliders</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">DEFAULT SLIDER</span>
        </li>
        <li class="mdl-list__item">
          <input class="mdl-slider mdl-js-slider slider--colored-orange" type="range" min="0" max="100" value="0" tabindex="0">
        </li>
        <li class="mdl-list__item">
          <input class="mdl-slider mdl-js-slider slider--colored-green" type="range" min="0" max="100" value="0" tabindex="0">
        </li>
        <li class="mdl-list__item">
          <input class="mdl-slider mdl-js-slider slider--colored-purple" type="range" min="0" max="100" value="0" tabindex="0">
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">STARTING VALUE</span>
        </li>
        <li class="mdl-list__item">
          <input class="mdl-slider mdl-js-slider slider--colored-red" type="range" min="0" max="100" value="42" tabindex="0">
        </li>
        <li class="mdl-list__item">
          <input class="mdl-slider mdl-js-slider slider--colored-light-blue" type="range" min="0" max="100" value="12" tabindex="0">
        </li>
        <li class="mdl-list__item">
          <input class="mdl-slider mdl-js-slider slider--colored-teal" type="range" min="0" max="100" value="72" tabindex="0">
        </li>
      </ul>
    </div>
  </div>
</div>

<!--Tooltips-->
<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Tooltips</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">SIMPLE</span>
        </li>
        <li class="mdl-list__item">
          <div id="tt1" class="icon material-icons color-text--green">directions_run</div>
          <div class="mdl-tooltip" data-mdl-for="tt1">
            Walk
          </div>
        </li>
        <li class="mdl-list__item">
          <span class="text-color--gray">LEFT</span>
        </li>
        <li class="mdl-list__item">
          <div id="tt5" class="icon material-icons">flight</div>
          <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="tt5">
            Left
          </div>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">LARGE</span>
        </li>
        <li class="mdl-list__item">
          <div id="tt2" class="icon material-icons color-text--orange">directions_bike</div>
          <div class="mdl-tooltip mdl-tooltip--large" for="tt2">
            Ride a bike
          </div>
        </li>
        <li class="mdl-list__item">
          <span class="text-color--gray">TOP</span>
        </li>
        <li class="mdl-list__item">
          <div id="tt6" class="icon material-icons">flight</div>
          <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="tt6">
            Top
          </div>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">RICH</span>
        </li>
        <li class="mdl-list__item">
          <div id="tt3" class="icon material-icons color-text--red">directions_bus</div>
          <div class="mdl-tooltip" data-mdl-for="tt3">
            Travel by <b>BUS</b>
          </div>
        </li>
        <li class="mdl-list__item">
          <span class="text-color--gray">BOTTOM</span>
        </li>
        <li class="mdl-list__item">
          <div id="tt7" class="icon material-icons">flight</div>
          <div class="mdl-tooltip mdl-tooltip--bottom" data-mdl-for="tt7">
            Bottom
          </div>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">MULTIPLY LINES</span>
        </li>
        <li class="mdl-list__item">
          <div id="tt4" class="icon material-icons color-text--teal">directions_boat</div>
          <div class="mdl-tooltip" for="tt4">
            Sail on<br>a boat
          </div>
        </li>
        <li class="mdl-list__item">
          <span class="text-color--gray">RIGHT</span>
        </li>
        <li class="mdl-list__item">
          <div id="tt8" class="icon material-icons">flight</div>
          <div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="tt8">
            Right
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--Badges-->
<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Badges</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">TEXT</span>
        </li>
        <li class="mdl-list__item">
          <small class="text-color--gray">Number</small>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-badge" data-badge="4">Inbox</span>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item"></li>
        <li class="mdl-list__item">
          <small class="text-color--gray">Icon</small>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-badge" data-badge="♥">Mood</span>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">ICON</span>
        </li>
        <li class="mdl-list__item">
          <small class="text-color--gray">Number</small>
        </li>
        <li class="mdl-list__item">
          <div class="material-icons mdl-badge mdl-badge--overlap badge--colored-red" data-badge="1">mail_outline</div>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item"></li>
        <li class="mdl-list__item">
          <small class="text-color--gray">Icon</small>
        </li>
        <li class="mdl-list__item">
          <div class="material-icons mdl-badge mdl-badge--overlap badge--colored-red" data-badge="♥">account_circle</div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--AVATARS LIST-->
<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--top">

  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">Simple avatar list</h1>
    </div>
    <div class="mdl-card__supporting-text">
      <ul class="mdl-list">
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <div class="mdl-list__item-avatar">
              <img width="100%" src="assets/images/nathan-fillion.png">
            </div>
            <span>Nathan Fillion</span>
          </span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <div class="mdl-list__item-avatar">
              <img width="100%" src="assets/images/gina-torres.png">
            </div>
            <span>Gina Torres</span>
          </span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <div class="mdl-list__item-avatar">
              <img width="100%" src="assets/images/tudyk.png">
            </div>
            <span>Alan Tudyk</span>
          </span>
        </li>
      </ul>
    </div>
  </div>

</div>
<!--AVATARS AND ACTIONS-->
<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--top">

  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">Avatars and actions list</h1>
    </div>
    <div class="mdl-card__supporting-text">
      <ul class="mdl-list">
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <div class="mdl-list__item-avatar">
                <img width="100%" src="assets/images/nathan-fillion.png">
              </div>
              <span>Nathan Fillion</span>
            </span>
          <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <div class="mdl-list__item-avatar">
                <img width="100%" src="assets/images/gina-torres.png">
              </div>
              <span>Gina Torres</span>
            </span>
          <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <div class="mdl-list__item-avatar">
                <img width="100%" src="assets/images/tudyk.png">
              </div>
              <span>Alan Tudyk</span>
            </span>
          <span class="mdl-list__item-secondary-content">
              <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
            </span>
        </li>
      </ul>
    </div>
  </div>

</div>
<!--AVATARS AND CONTROLS-->
<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--top">

  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">Avatars and controls list</h1>
    </div>
    <div class="mdl-card__supporting-text">
      <ul class="mdl-list">
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <div class="mdl-list__item-avatar">
                <img width="100%" src="assets/images/nathan-fillion.png">
              </div>
              Nathan Fillion
            </span>
          <span class="mdl-list__item-secondary-action">
              <label class="mdl-checkbox checkbox--colored-light-blue mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
              <input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" checked />
              </label>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <div class="mdl-list__item-avatar">
                <img width="100%" src="assets/images/gina-torres.png">
              </div>
              Gina Torres
            </span>
          <span class="mdl-list__item-secondary-action">
              <label class="mdl-radio radio--colored-light-blue mdl-js-radio mdl-js-ripple-effect" for="list-option-1">
              <input type="radio" id="list-option-1" class="mdl-radio__button" name="options" value="1" />
              </label>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <div class="mdl-list__item-avatar">
                <img width="100%" src="assets/images/tudyk.png">
              </div>
              Alan Tudyk
            </span>
          <span class="mdl-list__item-secondary-action">
              <label class="mdl-switch switch--colored-light-blue mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
              <input type="checkbox" id="list-switch-1" class="mdl-switch__input" checked />
              </label>
            </span>
        </li>
      </ul>
    </div>
  </div>

</div>
<!--TWO LINES-->
<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--top">

  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">Two lines list</h1>
    </div>
    <div class="mdl-card__supporting-text">
      <ul class="mdl-list">
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
              <div class="mdl-list__item-avatar">
                <img width="100%" src="assets/images/nathan-fillion.png">
              </div>
              <span>Nathan Fillion</span>
              <span class="mdl-list__item-sub-title">Malcolm “Mal” Reynolds </span>
            </span>
          <span class="mdl-list__item-secondary-content">
              <span class="mdl-list__item-secondary-info">Star</span>
              <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
            </span>
        </li>
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
              <div class="mdl-list__item-avatar">
                <img width="100%" src="assets/images/gina-torres.png">
              </div>
              <span>Gina Torres</span>
              <span class="mdl-list__item-sub-title"> Zoe Alleyne Washburne</span>
            </span>
          <span class="mdl-list__item-secondary-content">
              <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
            </span>
        </li>
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
              <div class="mdl-list__item-avatar">
                <img width="100%" src="assets/images/tudyk.png">
              </div>
              <span>Alan Tudyk</span>
              <span class="mdl-list__item-sub-title">Hoban “Wash” Washburne</span>
            </span>
          <span class="mdl-list__item-secondary-content">
              <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
            </span>
        </li>
      </ul>
    </div>
  </div>

</div>
