<div class="mdl-layout mdl-js-layout color--gray is-small-screen not-found">
  <div class="mdl-card mdl-card__login mdl-shadow--2dp">
    <div class="mdl-card__supporting-text color--dark-gray">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
          <span class="mdl-card__title-text text-color--smooth-gray">DARKBOARD</span>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
          <span class="text--huge color-text--light-blue">404</span>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
          <span class="text--sorry text-color--white">Sorry, but there's nothing here</span>
        </div>
        <a href="index.html">
          <button class="mdl-button mdl-js-button color-text--light-blue alignment--bottom-right">
            Go Back
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
