.ui-cards {
  .mdl-card {
    height: 100%;
  }
  .mdl-button--fab {
    position: absolute;
    top: 212px;
    right: 20px;
  }
  .mdl-cell {
    &:nth-last-of-type(1),
    &:nth-last-of-type(2),
    &:nth-last-of-type(3) {
      .mdl-card__title {
        color: #ffffff;
        height: 240px;
        background: transparent no-repeat center;
        background-size: cover;
        .mdl-card__title-text {
          font-size: 40px;
        }
      }
    }
    &:nth-last-of-type(1) .mdl-card__title {
      background-image: url("/assets/images/sao_paulo.jpg");
    }
    &:nth-last-of-type(2) .mdl-card__title {
      background-image: url("/assets/images/tokyo.jpg");
    }
    &:nth-last-of-type(3) .mdl-card__title {
      background-image: url("/assets/images/istanbul.jpg");
    }
  }
  small {
    color: #aaaaaa;
    display: block;
    margin-bottom: 15px;
  }
  b {
    color: #ffffff;
    line-height: 1.4;
  }
  h3 {
    color: #fff;
    margin-bottom: 0;
  }
}
