@import '~theme/helpers';

.projects-table {
  thead th {
    color: rgba($color-white, 0.9);
  }

  tbody {
    td:nth-child(1) {
      width: 1px;
    }

    td:nth-child(2) {
      width: 300px;
    }

    td:nth-child(3) {
      width: 240px;
    }

    td:nth-child(4) {
      width: 300px;
    }

    td:nth-child(5) {
      width: 200px;
    }

    td:nth-child(6) {
      width: 300px;

      .mdl-progress {
        cursor: pointer;
        min-width: 80px;
        max-width: 200px;
      }
    }

    .task-done {
      padding-top: 6px !important;
      padding-bottom: 0 !important;
      color: $progress-main-color;

      .material-icons,
      span {
        color: $color-white;
        cursor: pointer;
      }

      .material-icons {
        background: $color-red;
        border-radius: 24px;
        font-size: 16px;
        padding: 2px;
        margin-right: 4px;
      }

      span {
        vertical-align: text-bottom;
      }
    }
  }

  @media screen and (max-width: 848px) {
    .dashboard .mdl-cell.mdl-cell--12-col-desktop.mdl-cell--12-col-tablet.mdl-cell--4-col-phone {
      display: none;
    }
  }
}
