.ui-tables {
  .mdl-card,
  .mdl-card__supporting-text {
    overflow-x: auto;
  }

  table {
    width: 100%;

    td {
      font-size: 1rem;
    }
  }

  .no-padding {
    padding: 0;
    width: 100%;
  }

  .label__availability {
    margin-right: 2px;
  }
}
