<!-- UI Buttons-->

<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone buttons-basic">
  <base-card>
    <base-card-title>
      <h2 class="mdl-card__title-text">Basic buttons</h2>
    </base-card-title>
    <base-card-body>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">Normal</span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-light-blue">
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal">
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-orange">
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-red">
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-green">
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-purple">
            Button
          </button>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">Disabled</span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised button--colored-light-blue"
                  disabled>
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised button--colored-teal"
                  disabled>
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised button--colored-orange"
                  disabled>
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised button--colored-red"
                  disabled>
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-green"
                  disabled>
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised button--colored-purple"
                  disabled>
            Button
          </button>
        </li>
      </ul>
    </base-card-body>
  </base-card>
</div>

<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone buttons-with-icons">
  <base-card>
    <base-card-title>
      <h2 class="mdl-card__title-text">Buttons with icons</h2>
    </base-card-title>
    <base-card-body>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">Normal</span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-light-blue">
            <i class="material-icons">assignment_returned</i>
            Archive
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal">
            <i class="material-icons">create</i>
            Create
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-orange">
            <i class="material-icons">drafts</i>
            Drafts
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-red">
            <i class="material-icons">forward</i>
            Forward
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-green">
            <i class="material-icons">attach_file</i>
            Attach
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-purple">
            <i class="material-icons">reply</i>
            Reply
          </button>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">Disabled</span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised button--colored-light-blue"
                  disabled>
            <i class="material-icons">assignment_returned</i>
            Archive
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised button--colored-teal"
                  disabled>
            <i class="material-icons">create</i>
            Create
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised button--colored-orange"
                  disabled>
            <i class="material-icons">drafts</i>
            Drafts
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised button--colored-red"
                  disabled>
            <i class="material-icons">forward</i>
            Forward
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-green"
                  disabled>
            <i class="material-icons">attach_file</i>
            Attach
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised button--colored-purple"
                  disabled>
            <i class="material-icons">reply</i>
            Reply
          </button>
        </li>
      </ul>
    </base-card-body>
  </base-card>
</div>

<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone buttons-social">
  <base-card>
    <base-card-title>
      <h2 class="mdl-card__title-text">Social buttons</h2>
    </base-card-title>
    <base-card-body>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">Normal</span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--facebook">
            <i class="material-icons"></i>
            Facebook
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--twitter">
            <i class="material-icons"></i>
            Twitter
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--dribbble">
            <i class="material-icons"></i>
            Dribbble
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--behance">
            <i class="material-icons"></i>
            Behance
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--linkedin">
            <i class="material-icons"></i>
            Linkedin
          </button>
        </li>
        <li class="mdl-list__item pull-left">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--github">
            <i class="material-icons"></i>
            Github
          </button>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">Disabled</span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised button--facebook"
                  disabled>
            <i class="material-icons"></i>
            Facebook
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised button--twitter"
                  disabled>
            <i class="material-icons"></i>
            Twitter
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised button--dribbble"
                  disabled>
            <i class="material-icons"></i>
            Dribbble
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised button--behance"
                  disabled>
            <i class="material-icons"></i>
            Behance
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised button--linkedin"
                  disabled>
            <i class="material-icons"></i>
            Linkedin
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--raised button--github" disabled>
            <i class="material-icons"></i>
            Github
          </button>
        </li>
      </ul>
    </base-card-body>
  </base-card>
</div>

<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone buttons-icons">
  <base-card>
    <base-card-title>
      <h2 class="mdl-card__title-text">Icon buttons</h2>
    </base-card-title>
    <base-card-body>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">Normal</span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect button--colored-light-blue">
            <i class="material-icons">assignment_returned</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect button--colored-teal">
            <i class="material-icons">create</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect button--colored-orange">
            <i class="material-icons">drafts</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect button--colored-red">
            <i class="material-icons">forward</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect button--colored-purple">
            <i class="material-icons">reply</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons">send</i>
          </button>
        </li>
      </ul>

      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">Social</span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect button--facebook">
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect button--twitter">
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect button--dribbble">
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect button--behance">
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect button--linkedin">
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect button--github">
            <i class="material-icons"></i>
          </button>
        </li>
      </ul>
      <!--icon disabled-->
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">Disabled</span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon button--colored-light-blue"
                  disabled>
            <i class="material-icons">assignment_returned</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon button--colored-teal"
                  disabled>
            <i class="material-icons">create</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon button--colored-orange"
                  disabled>
            <i class="material-icons">drafts</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon button--colored-red"
                  disabled>
            <i class="material-icons">forward</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon button--colored-purple"
                  disabled>
            <i class="material-icons">reply</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon" disabled>
            <i class="material-icons">send</i>
          </button>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray"></span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon button--facebook"
                  disabled>
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon button--twitter"
                  disabled>
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon button--dribbble"
                  disabled>
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon button--behance"
                  disabled>
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon button--linkedin"
                  disabled>
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon button--github"
                  disabled>
            <i class="material-icons"></i>
          </button>
        </li>
      </ul>
    </base-card-body>
  </base-card>
</div>

<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone buttons-icons">
  <base-card>
    <base-card-title>
      <h2 class="mdl-card__title-text"> Raised Icon buttons</h2>
    </base-card-title>
    <base-card-body>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">Normal</span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-light-blue">
            <i class="material-icons">assignment_returned</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-teal">
            <i class="material-icons">create</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-orange">
            <i class="material-icons">drafts</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-red">
            <i class="material-icons">forward</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-purple">
            <i class="material-icons">reply</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect">
            <i class="material-icons">send</i>
          </button>
        </li>
      </ul>

      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">Social</span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--facebook">
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--twitter">
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--dribbble">
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--behance">
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--linkedin">
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--github">
            <i class="material-icons"></i>
          </button>
        </li>
      </ul>
      <!--icon disabled-->
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">Disabled</span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised button--colored-light-blue"
                  disabled>
            <i class="material-icons">assignment_returned</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised button--colored-teal"
                  disabled>
            <i class="material-icons">create</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised button--colored-orange"
                  disabled>
            <i class="material-icons">drafts</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised button--colored-red"
                  disabled>
            <i class="material-icons">forward</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised button--colored-purple"
                  disabled>
            <i class="material-icons">reply</i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised" disabled>
            <i class="material-icons">send</i>
          </button>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray"></span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--facebook"
                  disabled>
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--twitter"
                  disabled>
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--dribbble"
                  disabled>
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--behance"
                  disabled>
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--linkedin"
                  disabled>
            <i class="material-icons"></i>
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--github"
                  disabled>
            <i class="material-icons"></i>
          </button>
        </li>
      </ul>
    </base-card-body>
  </base-card>
</div>

<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone">
  <base-card>
    <base-card-title>
      <h2 class="mdl-card__title-text">Buttons without background</h2>
    </base-card-title>
    <base-card-body>
      <!--BB-->
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">Basic button</span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect color-text--light-blue">
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect color-text--teal">
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect color-text--orange">
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect color-text--red">
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect color-text--green">
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect button--colored-purple">
            Button
          </button>
        </li>
      </ul>
      <!--disabled-->
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">Disabled</span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button button--colored-light-blue"
                  disabled>
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button button--colored--teal"
                  disabled>
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button button--colored-orange"
                  disabled>
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button button--colored-red"
                  disabled>
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button button--colored-green"
                  disabled>
            Button
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button button--colored-purple"
                  disabled>
            Button
          </button>
        </li>
      </ul>
      <!--BWI-->
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">Button with icon</span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect button--colored-light-blue">
            <i class="material-icons">assignment_returned</i>
            Archive
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect button--colored-teal">
            <i class="material-icons">create</i>
            Create
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect button--colored-orange">
            <i class="material-icons">drafts</i>
            Drafts
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect button--colored-red">
            <i class="material-icons">forward</i>
            Forward
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect button--colored-green">
            <i class="material-icons">attach_file</i>
            Attach
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect button--colored-purple">
            <i class="material-icons">reply</i>
            Reply
          </button>
        </li>
      </ul>
      <!--SB-->
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">Normal</span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect button--facebook">
            <i class="material-icons"></i>
            Facebook
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect button--twitter">
            <i class="material-icons"></i>
            Twitter
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect button--dribbble">
            <i class="material-icons"></i>
            Dribbble
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect button--behance">
            <i class="material-icons"></i>
            Behance
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect button--linkedin">
            <i class="material-icons"></i>
            Linkedin
          </button>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect button--github">
            <i class="material-icons"></i>
            Github
          </button>
        </li>
      </ul>
    </base-card-body>
  </base-card>
</div>

<!--FAB BUTTONS-->
<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--5-col-tablet mdl-cell--4-col-phone buttons-fab">
  <base-card>
    <base-card-title>
      <h2 class="mdl-card__title-text">Fab button</h2>
    </base-card-title>
    <base-card-body>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">Colored FAB</span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
            <i class="material-icons">add</i>
          </button>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">With ripple</span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">add</i>
          </button>
        </li>
      </ul>
      <ul class="mdl-list pull-left">
        <li class="mdl-list__item">
          <span class="text-color--gray">Disable</span>
        </li>
        <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" disabled>
            <i class="material-icons">add</i>
          </button>
        </li>
      </ul>
    </base-card-body>
  </base-card>
</div>
<!--HOW TO USE-->
<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
  <base-card>
    <base-card-title>
      <h2 class="mdl-card__title-text">How to use</h2>
    </base-card-title>
    <base-card-body>
      <p>
        To use button with color background, you need to use CSS class naming as the
        corresponding color in lowercase with prefix <code><b>button--colored-</b></code>.<br>
        If the color name is composed of more than one world, the words are separated by a dash "-".<br>
        You can see the names of the colors <a href="ui-colors.html">here</a>.
        <br><br>
        <i class="color-text--teal">Example: You want to use colored button with color naming "Teal". CSS class for this case is <code><b>.button--colored-teal</b></code></i>
        <br><br><br>
        To use social button, you need to use CSS class naming as the
        corresponding social network in lowercase with prefix <code><b>button--</b></code>.
        <br><br>
        <i class="color-text--teal">Example: You want to use Facebook button. CSS class for this case is <code><b>.button--facebook</b></code></i>
      </p>
    </base-card-body>
  </base-card>
</div>
