@import '~theme/helpers';

@media screen and (max-width: $layout-screen-size-threshold) {
  .mdl-layout__header {
    display: flex !important;
  }
}

.menu-link {
  margin-left: 0.5rem;
  top: -6px;
  position: relative;
  font-size: 11px;
  padding: 1px 5px;
}
