@import '~theme/helpers';

.not-found {
  .mdl-button {
    font-weight: 500;
  }

  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;

  .mdl-card__login.mdl-card {
    width: 450px;
    min-height: 500px;
    margin: auto;

    .mdl-card__supporting-text {
      min-height: inherit;
      width: 100%;
      padding: 32px 24px;
      box-sizing: border-box;

      .mdl-card__title-text {
        font-size: 17px;
        font-weight: bold;
      }

      .underlined {
        display: inline-block;
        border-bottom: 1px solid $color-light-blue;
      }

      .checkbox--inline {
        display: inline;
        padding-top: 4px;
        padding-left: 35px;
      }

      .submit-cell {
        display: flex;
      }

      .text--huge {
        font-size: 120px;
        font-weight: bold;
        display: inline-block;
        padding: 100px 0 40px 0;
      }

      .text--sorry {
        font-size: 28px;
        font-weight: 300;
      }

      .alignment--bottom-right {
        position: absolute;
        bottom: 39px;
        right: 46px;
      }
    }
  }
}
