<div class="mdl-card mdl-shadow--2dp map">
  <div class="curtain"></div>
  <div class="mdl-card--expand map__window">

  </div>
  <div class="mdl-card__supporting-text">
    <div class="pull-right">
      <div class="map__target-image">
        <div class="map__target-picture"></div>
      </div>
    </div>
    <div class="map__target-info">
      <h5 class="map__target-title"></h5>
      <div class="map__target-location"></div>
      <div class="map__target-opening-hours"></div>
      <div class="map__target-description"></div>
    </div>
  </div>
</div>
