<div class="mdl-grid charts">
    <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone">
      <base-pie-chart>
      <h2 class="mdl-card__title-text">Browser Statistics</h2>
      <div appBrowserStatisticsChart class="pie-chart__container"></div>
    </base-pie-chart>
  </div>

  <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone">
    <base-pie-chart>
    <h2 class="mdl-card__title-text">Country Statistics</h2>
    <div appCountryStatisticsChart class="pie-chart__container"></div>
  </base-pie-chart>
  </div>

  <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
    <app-discrete-bar-chart></app-discrete-bar-chart>
  </div>

  <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
    <base-line-chart>
    <h2 class="mdl-card__title-text">Startup Financing Cycle</h2>
    <div appLineChart1 class="line-chart__container"></div>
  </base-line-chart>
  </div>

  <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
    <base-line-chart>
    <h2 class="mdl-card__title-text">Startup Financing Cycle</h2>
    <div appLineChart2 class="line-chart__container"></div>
  </base-line-chart>
  </div>

  <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
    <app-line-plus-bar-chart></app-line-plus-bar-chart>
  </div>

  <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
    <app-stacked-bar-chart></app-stacked-bar-chart>
  </div>
</div>
