<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone">
  <app-browser-statistics-chart></app-browser-statistics-chart>
</div>

<!--chart 2-->
<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone">
  <app-country-statistics-chart></app-country-statistics-chart>
</div>

<!--chart 3-->
<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
  <div class="mdl-card mdl-shadow--2dp pie-chart">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Discrete Bar Chart</h2>
    </div>
    <div class="mdl-card__supporting-text mdl-card--expand">
      <div class="discrete-bar-chart__container">

      </div>
    </div>
  </div>
</div>

<!--chart 4-->
<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
  <div class="mdl-card mdl-shadow--2dp line-chart">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Simple Line Chart 1</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <div class="line-chart-1__container">

      </div>
    </div>
  </div>
</div>

<!--chart 5-->
<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
  <div class="mdl-card mdl-shadow--2dp line-chart">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Simple Line Chart 2</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <div class="line-chart-2__container">

      </div>
    </div>
  </div>
</div>

<!--chart 6-->
<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
  <div class="mdl-card mdl-shadow--2dp line-chart">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Line Plus Bar Chart</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <div class="line-plus-bar-chart__container">

      </div>
    </div>
  </div>
</div>

<!--chart 7-->
<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
  <div class="mdl-card mdl-shadow--2dp line-chart">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Stacked Bar Chart</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <div class="stacked-bar-chart__container">

      </div>
    </div>
  </div>
</div>
