<header>darkboard</header>
<nav class="mdl-navigation">
  <a class="mdl-navigation__link mdl-navigation__link--current" routerLink="/app/dashboard" (click)="navigate()">
    <i class="material-icons" role="presentation">dashboard</i>
    Dashboard
  </a>
  <div class="sub-navigation">
    <a class="mdl-navigation__link">
      <i class="material-icons">view_comfy</i>
      UI
      <i class="material-icons">keyboard_arrow_down</i>
    </a>
    <div class="mdl-navigation">
      <a class="mdl-navigation__link" href="ui-buttons.html">
        Buttons
      </a>
      <a class="mdl-navigation__link" href="ui-cards.html">
        Cards
      </a>
      <a class="mdl-navigation__link" href="ui-colors.html">
        Colors
      </a>
      <a class="mdl-navigation__link" href="ui-components.html">
        Components
      </a>
      <a class="mdl-navigation__link" href="ui-icons.html">
        Icons
      </a>
      <a class="mdl-navigation__link" href="ui-typography.html">
        Typography
      </a>
    </div>
  </div>
  <a class="mdl-navigation__link" routerLink="/app/forms" (click)="navigate()">
    <i class="material-icons" role="presentation">person</i>
    Account
  </a>
  <a class="mdl-navigation__link" href="maps.html">
    <i class="material-icons" role="presentation">map</i>
    Maps
  </a>
  <a class="mdl-navigation__link" href="charts.html">
    <i class="material-icons">multiline_chart</i>
    Charts
  </a>

  <div class="mdl-layout-spacer"></div>
  <a class="mdl-navigation__link" href="https://github.com/CreativeIT/getmdl-dashboard">
    <i class="material-icons" role="presentation">link</i>
    GitHub
  </a>
</nav>
