<base-card>
  <base-card-title>
    <h2 class="mdl-card__title-text">Toggles</h2>
  </base-card-title>
  <base-card-body>
    <ul class="mdl-list pull-left">
      <li class="mdl-list__item">
        <span class="text-color--gray">RADIO BUTTON</span>
      </li>
      <li class="mdl-list__item">
        <base-radio-button name="options" value="1" color="green">Apple</base-radio-button>
      </li>
      <li class="mdl-list__item">
        <base-radio-button name="options" value="2" color="orange" checked>Orange</base-radio-button>
      </li>
      <li class="mdl-list__item">
        <base-radio-button name="options" value="3" color="purple">Grapes</base-radio-button>
      </li>
      <li class="mdl-list__item">
        <base-radio-button name="options" value="4" color="red">Cherry</base-radio-button>
      </li>
    </ul>
    <ul class="mdl-list pull-left">
      <li class="mdl-list__item">
        <span class="text-color--gray">CHECKBOXES</span>
      </li>
      <li class="mdl-list__item">
        <base-checkbox color="green">Apple</base-checkbox>
      </li>
      <li class="mdl-list__item">
        <base-checkbox color="orange">Orange</base-checkbox>
      </li>
      <li class="mdl-list__item">
        <base-checkbox color="purple">Grapes</base-checkbox>
      </li>
      <li class="mdl-list__item">
        <base-checkbox color="red" checked>Cherry</base-checkbox>
      </li>
    </ul>
    <ul class="mdl-list pull-left">
      <li class="mdl-list__item">
        <span class="text-color--gray">SWITCHES</span>
      </li>
      <li class="mdl-list__item">
        <base-switch color="green" checked>Apple</base-switch>
      </li>
      <li class="mdl-list__item">
        <base-switch color="orange">Orange</base-switch>
      </li>
      <li class="mdl-list__item">
        <base-switch color="purple" checked>Grapes</base-switch>
      </li>
      <li class="mdl-list__item">
        <base-switch color="red">Cherry</base-switch>
      </li>
    </ul>
    <ul class="mdl-list pull-left">
      <li class="mdl-list__item">
        <span class="text-color--gray">ICON TOGGLE</span>
      </li>
      <li class="mdl-list__item">
        <base-icon-toggle color="red" checked>format_bold</base-icon-toggle>
        <base-icon-toggle color="orange" checked>format_italic</base-icon-toggle>
        <base-icon-toggle color="green">format_underlined</base-icon-toggle>
      </li>
    </ul>
  </base-card-body>
</base-card>
