@import '~theme/helpers';

.stacked-bar-chart__container {
  svg,
  svg .nv-linePlusBar {
    height: 250px;
  }

  .nv-controlsWrap .nv-legend-symbol {
    fill: $color-teal !important;
    stroke: $color-teal !important;
  }

  .nv-group {
    fill-opacity: 0.9 !important;
  }

  .nv-axis {
    text {
      fill: $color-white;
      opacity: 0.5 !important;
    }

    .domain,
    .nv-zeroLine {
      stroke: $color-white;
      opacity: 0.5;
    }

    .tick {
      line {
        opacity: 0.1 !important;
      }
    }
  }

  .nv-legend-text {
    opacity: 0.5;
  }
}
